/*  General Styles */

body{
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Livvic', sans-serif;
}

p{
  font-family: 'Raleway', sans-serif;
}

.container-fluid{
 padding: 3% 10%;
}

.btn1, .btn2{
  margin: 4% 3% 5% 0;
}


/* title section */

#title{
  background-color: #d2fafb;
  color: #66bfbf;
}

.navbar {
  padding: 0 0 6.5rem;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.nav-item {
  padding: 0 18px;
}

.intro-heading{
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 2%;
  font-family: 'Ubuntu', sans-serif;
}

.intro-text{
  font-size: 1.3rem;
  padding-top: 3%;
}

.get-started{
  padding-top: 2%;
}

.span1{
  font-weight: bold;
}

.span2{
  font-family: 'Lobster', cursive;
}

.btn1:hover{
  color: #d2fafb;
}

.btn2{
}

.btn2:hover{
}
